<div class="jumbotron">
  <h1>Crowdsurfer Challenge!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
  </p>

</div>

<div>
  <input type="text" ng-model="main.searchTerm" placeholder="Search by project title" class="form-control">
  Sort by:
  <toggle ng-model="main.sortByAmount" on="Amount Raised" off="End Date" size="btn"></toggle>
  Funding type:
  <select class="form-control" ng-model="main.fundingFilter">
    <option value="all">Show All</option>
    <option value="reward">Reward Only</option>
    <option value="equity">Equity Only</option>
  </select>
</div>

<div class="row marketing">
  <h4>Blockchain Technologies</h4>
  <div ng-repeat="item in main.data | filter : main.filterBy | orderBy : main.sortBy()">
    <project-summary project="item"></project-summary>
  </div>
</div>
